**/build
**/.vscode
**/cmake-build-Release
**/.cache
**/CMakeFiles
.DS_Store
compile_commands.json
cmake_install.cmake
CTestTestfile.cmake
Makefile*

# XXX: should we actually vc this? i don't think so but idk
**/CMakeSettings.json
